<!DOCTYPE html>
<meta charset="utf-8">

<head>

    <style>
        text {
            font: 10px sans-serif;
        }
    </style>
    <script type='text/javascript' src="./javascripts/jquery-1.11.2.min.js"></script>
    <link href="javascripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type='text/javascript' src="./javascripts/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="page-header">
                    <h1>Студентски Агрегатор<small> #хакмоф</small></h1>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Настани</a>
                    <a href="#" class="list-group-item">Стипендии</a>
                    <a href="#" class="list-group-item">Пракса</a>
                    <a href="#" class="list-group-item">Предавања</a>
                    <a href="#" class="list-group-item">Рандом</a>
                </div>
            </div>

            <div class="col-md-8">
                <ul class="list-group" id="show">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <!--<script type='text/javascript' src="javascripts/d3.min.js"></script>
    <script type='text/javascript' src="javascripts/d3_bubbles.js"></script>-->

    <script>
        $(document).ready(
            $.getJSON('192.168.1.26/feed/userlist', function (data) {
                console.log(data);
                // For each item in our JSON, add a table row and cells to the content string
             /*   for (var i = 0; i < 20; i++) {
                    $("#show").append('<li class="list-group-item"><a href="'
                        data.link '">'
                        data.message '</a></li>');
                }*/
            })
        );
    </script>
</body>

</html>